* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

header{
    background-color: #FFFFFF;
}
nav {
    width: 85%;
    max-width: 1360px;
    margin: 16px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
nav .nav-col ul{
    display: flex;
    gap: 32px;
    list-style-type: none;
    align-items: center;
}
nav .nav-col ul a{
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    text-decoration: none;
    text-transform: capitalize;
}
nav .btn button {
    border: none;
    background-color: #30B868;
    padding: 12.5px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
}
#banner{
    background-image: url('./images/hero-bg.png');
    width: 100%;
    height: 674px;
    background-size: cover;
    background-repeat: no-repeat;
    align-content: center;
}
#banner .banner-content{
    max-width: 1400px;
    text-align: center;
    margin: 0 auto;
    padding-top: 115px;
    padding-bottom: 179px;
}
#banner .banner-content .btn1{
    border: none;
    background-color: rgba(255, 255, 255, 1);
    padding: 8px 12px 8px 12px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 600;
    color: #30B868;
    text-align: center;
}
#banner .banner-content .btn1 img{
    width: 19px;
    height: 13px;
    border-radius: 8px;
    padding-right: 6px;
}
#banner .banner-content h1{
    font-size: 72px;
    font-weight: 700;
    text-transform: capitalize;
    padding-top: 19px;
    padding-bottom: 10px;
    color: rgba(255, 255, 255, 1);
}
#banner .banner-content p{
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
}
#banner .banner-content .button{
    padding-top: 32px;
}
#banner .banner-content .button a{
    text-decoration: none;
    border: none;
    background-color: #30B868;
    padding: 16.5px 30px 16.5px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    margin-right: 18px;
}
#banner .banner-content .button .btn2 i{
    margin-left: 10px;
}
#banner .banner-content .button a:first-child:hover{
    border: 1px solid white;
    background-color: transparent;
    color: rgba(255, 255, 255, 1);
    border-color:rgba(255, 255, 255, 1);
}
#banner .banner-content .button a{
    text-decoration: none;
    border: none;
    background-color: #30B868;
    padding: 16.5px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
}
#banner .banner-content .button .btn3 i {
    margin-right: 10px;
}
#banner .banner-content .button a:last-child:hover{
    border: 1px solid white;
    background-color: transparent;
    color: rgba(255, 255, 255, 1);
    border-color:rgba(255, 255, 255, 1);
}