* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

header{
    background-color: #FFFFFF;
    padding-top: 16px;
    padding-bottom: 16px;
}
nav {
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
nav .nav-col ul{
    display: flex;
    gap: 32px;
    list-style-type: none;
    align-items: center;
}
nav .nav-col ul a{
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    text-decoration: none;
    text-transform: capitalize;
}
nav .btn button {
    border: none;
    background-color: #30B868;
    padding: 12.5px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
}